---
import HeadingLink from './heading-link.astro'
import * as styles from './heading-4.css'
import * as stylesCommon from './heading.css'

type Props = astroHTML.JSX.HTMLAttributes

const { id, class: className, ...props } = Astro.props as Props
---

<h4 class:list={[stylesCommon.common, styles.main, className]} id={id} {...props}>
  <HeadingLink href={`#${id}`} />
  <span><slot /></span>
</h4>
