---
/* eslint astro/no-unused-css-selector: "off" */

import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props as Props;
---

<script>
  import TableOfContent from "./table-of-content";

  customElements.define("table-of-content", TableOfContent);
</script>

<table-of-content>
  <nav>
    <ul>
      {
        headings.map(({ slug, text, depth }) => (
          <li>
            <a
              href={`#${slug}`}
              id={`heading-${slug}`}
              data-selected="false"
              class:list={[depth === 3 && "level-3", depth === 4 && "level-4"]}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</table-of-content>

<style>
  table-of-content {
    width: 100%;
    padding: var(--spacing-2) var(--spacing-6);
    flex-grow: 1;
    box-shadow: var(--box-shadow-inset);
    border-radius: var(--radii-md);
    overflow-y: auto;
    max-height: 30rem;
    background-color: var(--color-base-lighter);
    transition: background-color var(--duration-default) var(--ease-in-out);
  }

  @media (--lg) {
    table-of-content {
      width: 20rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    width: 100%;
    padding: 0;
  }

  li {
    list-style-type: none;
    background-color: var(--color-transparent-default);
    transition: background-color var(--duration-default) var(--ease-in-out);
    padding: var(--spacing-0_5) var(--spacing-2);
    border-radius: var(--radii-md);
  }

  li:hover {
    background-color: var(--color-transparent-secondary);
  }

  li:active {
    background-color: var(--color-transparent-tertiary);
  }

  a {
    color: var(--color-text-alt);
    text-decoration: none;
    font-size: 0.9rem;
    transition-property: color, font-weight;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out);
    display: inline-block;
    min-width: 100%;
  }

  a[data-selected="true"] {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-default);
  }

  .level-3 {
    padding-left: var(--spacing-2);
    font-size: 0.875rem;
  }

  .level-4 {
    padding-left: var(--spacing-4);
    font-size: 0.85rem;
  }
</style>
