<table><slot /></table>

<style>
  table {
    border-spacing: 0px;
    background-color: var(--color-base-lighter);
    transition: background-color var(--duration-default) var(--ease-in-out);
  }
</style>
