---
import BaseLayout, { type Props as BaseLayoutProps } from './base.astro'
import Header from '@/components/header/header.astro'
import * as styles from './home.css'

type Props = BaseLayoutProps

const { head } = Astro.props as Props
---

<BaseLayout head={head}>
  <div class={styles.headerTopSpacing}></div>
  <Header />
  <div class={styles.headerBottomSpacing}></div>
  <main>
    <slot />
  </main>
</BaseLayout>
