/* Page */
$color-page-background: (#ffffff, #1a1a1a);

/* Text */
$color-text-default: (#1a1a1a, #ededed);
$color-text-inverse: (#ededed, #1a1a1a);

/* Accent */
$color-accent-default: (#0a89ff, #85c4ff);

$colors: (
  page-background: $color-page-background,
  text-default: $color-text-default,
  text-inverse: $color-text-inverse,
  accent-default: $color-accent-default
);

:root {
  @each $color, $values in $colors {
    --color-#{$color}: #{nth($values, 1)};
  }
}

:root.color-mode-dark {
  @each $color, $values in $colors {
    --color-#{$color}: #{nth($values, 2)};
  }
}
