/* Page */
$page-background: (#ffffff, #1a1a1a);

/* Text */
$text-default: (#1a1a1a, #ededed);
$text-inverse: (#ededed, #1a1a1a);

/* Accent */
$accent-default: (#0a89ff, #85c4ff);

/* Content */
$content-blockquote-indicator: (#e5e4e9, #2a2a2a);

$colors: (
  page-background: $page-background,
  text-default: $text-default,
  text-inverse: $text-inverse,
  accent-default: $accent-default,
  content-blockquote-indicator: $content-blockquote-indicator
);

:root {
  @each $color, $values in $colors {
    --color-#{$color}: #{nth($values, 1)};
  }
}

:root.color-mode-dark {
  @each $color, $values in $colors {
    --color-#{$color}: #{nth($values, 2)};
  }
}
