---
interface Props {
  href: string
}

const { href } = Astro.props as Props
---

<a href={href} aria-hidden="true" tabindex="-1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
    <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
  </svg>
</a>

<style lang="scss">
  @use 'src/styles/tokens' as *;

  a {
    position: absolute;
    left: calc($spacing-8 * -1);
    top: 50%;
    transform: translateY(-50%);
    width: $spacing-6;
    height: $spacing-6;
    opacity: 0;
    color: var(--color-text-default);
    transition-property: opacity, color;
    transition-duration: $duration-default;
    transition-timing-function: $ease-in-out;

    &:hover {
      opacity: 1;
    }

    & svg {
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
    }

    :global(:where(h2, h3, h4):hover) & {
      opacity: 1;
    }
  }
</style>
