---
type Props = astroHTML.JSX.HTMLAttributes

const { ...props } = Astro.props as Props
---

<p {...props}><slot /></p>

<style lang="scss">
  @use 'src/styles/tokens' as *;

  p {
    margin: 1em 0;
    line-height: calc(1em + 0.75rem);
    transition: color $duration-default $ease-in-out;
  }
</style>
