---
import * as styles from './paragraph.css'

type Props = astroHTML.JSX.HTMLAttributes

const { class: className, ...props } = Astro.props as Props
---

<p class:list={[styles.main, className]} {...props}><slot /></p>
