---
import Content from "./content.astro";
import styles from "./heading.module.css";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h4">;

const { id, class: className, ...props } = Astro.props as Props;
---

<h4 class:list={[styles.main, className]} id={id} {...props}>
  <Content id={id}><slot /></Content>
</h4>

<style>
  h4 {
    margin: 1em 0;
    font-size: 1.125em;
  }
</style>
