---
import { HomeLayout } from "@/layouts";
---

<HomeLayout>
  <div>Hello there! <a href="/">This is a link.</a> Click it please</div>
</HomeLayout>

<style>
  a {
    color: var(--color-accent-text-default);
  }
</style>
