<span>./pinanek</span>

<style>
  span {
    font-size: 2.25rem;
    color: var(--color-text-default);
    font-weight: var(--font-weight-extra-bold);
    font-variation-settings: "MONO" 0, "CASL" 0.5, "slnt" 0, "CRSV" 1;
  }
</style>
