@import "../_components/tag.css";

.post-header {
  inline-size: min(calc(100% - 2rem), 42rem);
  margin-inline: auto;
  padding-block-end: 1rem;
}

.post-header__title {
  margin: 0;
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.1;
}

.post-header__description {
  margin-block: 1rem;
  color: var(--c-text-muted);
  font-size: 1.125rem;
}

.post-header__metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  color: var(--c-text-muted);
  font-size: 0.875rem;
}

.post-header__tags-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1rem 0;
}

.post-header__tags-title {
  font-weight: 600;
}

.post-header__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

.post-article {
  margin-block-start: 2rem;
}
