---
import HeadingLink from './heading-link.astro'

type Props = astroHTML.JSX.HTMLAttributes

const { id, ...props } = Astro.props as Props
---

<h3 id={id} {...props}>
  <HeadingLink href={`#${id}`} />
  <span><slot /></span>
</h3>

<style lang="scss">
  @use 'src/styles/tokens' as *;

  h3 {
    position: relative;
    margin: 1.5em 0 0.5em;
    font-size: 1.375em;
    transition: color $duration-default $ease-in-out;
  }
</style>
