---
import BaseLayout from "./base.astro";
import Header from "@/components/header";
import Footer from "@/components/footer";
import { PostHeader } from "@/components/post";
import type { PostFrontmatter } from "@/types/post";
import type { MarkdownHeading } from "astro";
import TableOfContent from "@/components/post/table-of-content/table-of-content.astro";

interface Props {
  frontmatter: PostFrontmatter;
  headings: MarkdownHeading[];
}

const {
  frontmatter: { title, seoTitle, description },
  headings,
} = Astro.props as Props;
---

<BaseLayout
  head={{
    title,
    seoTitle,
    description,
  }}
>
  <Header />
  <main class="page-spacing content-with-toc-sizing">
    <PostHeader frontmatter={Astro.props.frontmatter} />
    <div class="post-content-container" id="post-content-container">
      <div class="table-of-content-container">
        <h2>Table of content</h2>
        <TableOfContent headings={headings} />
      </div>
      <article>
        <slot />
      </article>
    </div>
  </main>
  <Footer />
</BaseLayout>

<style>
  .post-content-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (--lg) {
    .post-content-container {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .post-content-container :global(::-webkit-scrollbar) {
    width: var(--spacing-1);
    height: var(--spacing-1);
  }

  .post-content-container :global(::-webkit-scrollbar-thumb) {
    border-radius: 0;
  }

  .table-of-content-container {
    position: block;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  @media (--lg) {
    .table-of-content-container {
      position: sticky;
      top: 8.5rem;
    }
  }

  article {
    width: 100%;
    min-width: 0;
  }
</style>
